# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# statamic sub-folder stuff
statamic/node_modules
statamic/public/hot
statamic/public/storage
statamic/storage/*.key
statamic/vendor
statamic/.env
statamic/.env.backup
statamic/.phpunit.result.cache
statamic/Homestead.json
statamic/Homestead.yaml
statamic/npm-debug.log
statamic/yarn-error.log
statamic/.idea
statamic/.vscode
